#introName {
  animation: typing 1s steps(50) forwards; 
}

#introSubTitle {
  animation: fadeIn 1s ease forwards; 
  animation-delay: 1s;
  opacity: 0; 
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
